<h1> Edit Facility and Equipments</h1>
    <form action="/facility/<%= facility._id %>" method="POST">
        <label for="location">Facility id</label>
        <input type="text" name="facility_id" required>
        <label for="location_id">Facility Description:</label>
        <input type="text" name="facility_desc" required>

        <label for="outsourced">Location</label>
        <select name="location" id="category" required>
          <option value="" disabled selected>Select Location</option>
          <% locations.forEach(function(location) { %>
            <option value="<%= location._id %>"><%= location.locationName %></option>
          <% }); %>
        </select>
      
      <br><br>
      <label for="category">Category:</label>
      <select name="equipment" id="category" required>
        <option value="" disabled selected>Select category</option>
        <% categories.forEach(function(category) { %>
          <option value="<%= category._id %>"><%= category.category %></option>
        <% }); %>
      </select>
      <label for="interval">Facility Maintenance Interval:</label>
        <input type="text" name="interval" required>
        <label for="outsourced">Assigned Staff</label>
        <select name="staff" id="staff" required>
          <option value="" disabled selected>Select Staff</option>
          <% staffs.forEach(function(staff) { %>
            <option value="<%= staff._id %>"><%= staff.firstName %></option>
          <% }); %>
        </select>
        <button type="submit" class="btn btn-danger">Save Changes to Facility</button>
    </form>